.calendarDate {
  border-bottom: 1px solid rgb(160, 160, 160);
}

.calendarRightBorder {
  border-right: 1px solid rgb(160, 160, 160);
}

.calendarBottomBorder {
  border-bottom: 1px solid rgb(160, 160, 160);
}

.minMonthStart {
  color: rgba(183, 183, 183, 0.76);
}

.largeMonthStart {
  color: "red";
}
.sun {
  color: red;
}
.sat {
  color: blue;
}
