.Staticscomponenet {
  background-color: red;
}

.sumbox {
  font-size: 15px;
  width: 100px;
  height: 45px;
  background-color: pink;
  border-radius: 15px;
  text-align: center;
  font-size: 30px;
  color: black;
}

.plusImg {
  width: 15px;
  height: 15px;
}
